[DEFAULT]
suite: regular
options:
[UnitTests]
obtain: shutil.copytree('../../examples/in', 'examples', dirs_exist_ok=True)
path: examples
options:
suite: unittests
[RosettaCodeData]
obtain: os.system('git clone https://github.com/acmeism/RosettaCodeData.git')
path: RosettaCodeData
options: -i 3 -w 0
[wannier90]
obtain: os.system('git clone https://github.com/wannier-developers/wannier90')
path: wannier90
suite: cron
