[DEFAULT]
suite: builtin
options:

[Examples]
obtain: shutil.copytree('../../examples/in', 'examples', dirs_exist_ok=True)
path: examples
suite: builtin

[RosettaCodeData]
obtain: repo = git.Repo.clone_from("https://github.com/acmeism/RosettaCodeData.git", "RosettaCodeData", no_checkout=True); repo.git.checkout("29a5eea")
path: RosettaCodeData
suite: regular

[wannier90]
obtain: git.Repo.clone_from("https://github.com/wannier-developers/wannier90", "wannier90", branch="v3.1.0")
path: wannier90/src
options: --indent 2
suite: regular

[cp2k]
obtain: git.Repo.clone_from("https://github.com/cp2k/cp2k.git", "cp2k", branch="v2024.1")
path: cp2k/src
options: --whitespace 2 --indent 3 --case 2 2 2 2 --exclude-max-lines 10000
suite: cron

[flap]
obtain: git.Repo.clone_from("https://github.com/szaghi/FLAP", "FLAP", branch="v1.2.5")
path: FLAP
suite: regular
